/**
  * General
  */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

/**
  * Header
  */

nav {
  padding: 1rem 2rem;
}

nav a {
  margin-right: 1rem;
  color: black;
  text-decoration: none;
  font-weight: 700;
}

nav a:hover {
  color: gray;
}

/**
  * Main
  */

main {
  width: 50%;
  margin: 5rem auto;
}

.personal-info {
  display: flex;
  flex-wrap: wrap;
}

.personal-info h2 {
  margin-bottom: 0.5rem;
}

.personal-info .about {
  margin-bottom: 2rem;
  width: calc(100% - 12rem);
}

.personal-info img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid black;
}

.projects__wrapper h1 {
  display: block;
  width: max-content;
  margin: 0 auto 1rem;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.project {
  width: 17rem;
  height: 10rem;
  padding: 1rem;
  text-align: center;
  border-radius: .625rem;
  border: 2px solid black;
  box-shadow: 2px 2px 2px 2px darkgray;
}

.project:hover {
  cursor: pointer;
}

.project img {
  width: 100%;
  height: 5rem;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.project-details__wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transform: translateX(125vw);
  transition: transform 0.5s ease-in-out;
  position: fixed;
  top: 0;
  background-color: hsla(0, 0%, 90%, 60%);
}

.project-details__wrapper .close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
}

.project-details__wrapper .close-button svg {
  fill: lightgrey;
}

.project-details__wrapper .close-button svg:hover {
  fill: black;
  cursor: pointer;
}

.project-details__wrapper .project-details {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  width: 70%;
  margin-left: 30%;
  padding: 3rem 2rem;
  background-color: white;
  box-shadow: -5px 5px 5px 5px hsla(0, 0%, 20%, 60%);
}

.project-details__wrapper.isopen {
  transform: translateX(-25vw);
}

/**
  * Contact
  */

.contact__wrapper {
  display: flex;
  align-items: center;
}

#form__contact {
  width: 50%;
}

#form__contact fieldset {
  border: none;
  padding: 0;
}

#form__contact .input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

#form__contact .input-wrapper .mandatory {
  color: red;
}

.contact__info {
  list-style: none;
}

.contact__info li {
  display: flex;
  align-items: center;
}

.contact__info li svg {
  margin-right: 0.5rem;
}

/**
  * Footer
  */

footer .socials {
  display: flex;
  gap: 1rem;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 2rem;
}

footer .socials a svg {
height: 2.5rem;
}